website/static/styles/top_picks.css
website/__pycache__/__init__.cpython-38.pyc
website/__pycache__/helper.cpython-38.pyc
website/__pycache__/models.cpython-38.pyc
website/__pycache__/views.cpython-38.pyc
