/* .navbar :hover {
    position: relative;
    background-color: violet;
    z-index: 1000;
} */

:root {
  scrollbar-color: rgba(108, 122, 137, 0.45);
  scrollbar-width: 0.25rem;
}

.alert-container {
  position: relative;
  width: 100vw;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.close {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  font-size: 35px;
}

html {
  scrollbar-color: rgba(108, 122, 137, 0.45);
  scrollbar-width: 0.25rem;
  background-color: #5927e5;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: rgba(108, 122, 137, 0.45);
}

::-webkit-scrollbar-thumb {
  background: rgba(46, 49, 49, 0.8);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scrollbar-color: rgba(108, 122, 137, 0.45);
  scrollbar-width: 0.25rem;
  background-color: #ffffff;
}

#title_bar {
  font-family: "Lora", serif;
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}

#main_div {
  height: 100%;
  width: 100%;
}

#hdb_image {
  width: 20vw;
  height: 20vw;
  justify-self: center;
  align-self: center;
}

#list {
  height: 100%;
  width: 100%;
  border: 1px white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.li {
  border-radius: 1px 1px 1px 1px;
}

.ul {
  border-radius: 1px;
}

/* .btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    top: 50%;
  } */
.btn-round {
  margin: 0.5rem;
  border-radius: 500px;
  height: fit-content;
  transition: transform 200ms ease;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px;
}
.container {
  height: 200px;
  position: relative;
  border: 3px;
}

.map iframe {
  width: 96%;
  height: 700px;
  border: 10px solid #eea9c6;
  margin: 40px 0px 0px 30px;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.page-header {
  display: grid;
  grid-template-areas: "text btn";
  padding-bottom: 10px;
  align-items: end;
}

.page-header .name {
  grid-area: text;
}
.page-header .btn-container {
  grid-area: btn;
  margin-left: 24%;
}
.page-header .btn-container #btn {
  border: none;
  border-radius: 100px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 16px;
  /* box-shadow: 2px 3px gray; */
}
.line {
  border-bottom: 3px solid black;
  width: 70%;
}
.output {
  display: grid;
  grid-template-areas: "img text line result";
  grid-template-columns: 350px 250px 40px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.imgbox img {
  grid-area: img;
  height: 300px;
  width: 300px;
}
.contentleft {
  grid-area: text;
}
.contentright {
  grid-area: result;
}
.v1 {
  grid-area: line;
  border-left: 3px solid black;
  height: 320px;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.map {
    max-width: 90vw;
}