.flex-container {
    display: flex;
    gap: 30px;
}

.flex-child {
  flex: 2;
  height: 100vh;
}  

.flex-child2 {
    flex: 2;
    background-color: gainsboro;
    border-radius: 40px;
    height: 100vh;
    justify-content: center;
}  

.flex-child3 {
    flex: 8;
    background-color: gainsboro;
    border-radius: 40px;
    height: 100vh;
}  

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#settingslogo {
    padding-left: 25px;
    background-image: url(../Assets/settings_black_24dp.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1.5%;
  }
  
#editlogo {
    padding-left: 25px;
    background-image: url(../Assets/edit_black_24dp.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1.5%;
}

.navbar {
    grid-area: sidenav;
    width: 4rem;
    height: 100vh; 
    position: fixed;
    background-color: rgba(255,255,255,0);
    transition: width 600ms ease;
    overflow: hidden;
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-items: flex-start;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    height: 3rem;
    color: #eea9c6;
    text-decoration: none;
    /* font-size: 20px; */
    filter: grayscale(100%) opacity(1);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: -1rem;
    /* text-shadow: 2px 2px black; */
    color: #eea9c6;
}


.navbar:hover {
    width: 17vw;
}

.navbar:hover .link-text {
    font-size: 1.2rem;
    display:block;
}

#nav_title {
    font-size: 1.4rem;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #eea9c6;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    /* padding-left: 0.4vw; */
}

.navbar:hover .logo img {
    transform: rotate(-360deg);
    /* animation: bounce; */
}

.nav-link i {
    min-width: 3rem;
    font-size: 1rem;
    margin: 1.8rem;
}

.logo img {
    /* font-size: 1.5rem; */
    transform: rotate(0deg);
    transition: transform 450ms;
    margin: 0.79vw;
}

.navbar:hover .logo i {
    /* transform: rotate(-360deg); */
    animation: bounce;
}

.about {
    color: #f5e466;
}

.about:hover {
    color: #f5e466;
    filter: grayscale(0%) opacity(1);
    animation: bounce;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}