.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    background-color: gainsboro;
    border-radius: 40px;
    height: 100vh;
    justify-content: center;
}  

.flex-child2 {
    flex: 3;
    background-color: gainsboro;
    border-radius: 40px;
    height: 100vh;
}  

.flex-child:first-child {
    margin-right: 30px;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#settingslogo {
    padding-left: 25px;
    background-image: url(../Assets/settings_black_24dp.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1.5%;
  }
  
  #editlogo {
    padding-left: 25px;
    background-image: url(../Assets/edit_black_24dp.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 1.5%;
  }

  