/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 7px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo-top,
.sidebar.open .logo-top{
  height: 90px;
}

.sidebar .logo-details{
    opacity: 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details,
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  height: 100%;
  padding: 0 0 0 7px;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}

.sidebar .bx-menu,
.sidebar.open .bx-menu-alt-right{
    float: right;
    border-radius: 12px;
}
.sidebar .bx-menu-alt-right:hover{
    background: #FFF;
    color: #11101d;
}
/* .sidebar .bx-log-out{
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open .bx-log-out{
    opacity: 1;
    pointer-events: auto;
} */
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar .logout{
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: -8px;
    margin: 8px 0 30px;
    transition: all 0.5s ease;
}
.sidebar.open .logout{
    position: fixed;
    height: 50px;
    width: 222px;
    bottom: -8px;
    margin: 8px 0 30px;
    transition: all 0.5s ease;
}
.sidebar .profile{
  position: relative;
  height: 80%;
  width: 80%;
  left: 0;
  bottom: -8px;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar .profile .name,
.sidebar .profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  padding: 10px 0 0 0;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}




/* from base css */
/* base */

:root {
  font-size: calc(0.6vw + 0.6vh + 0.5vmin);
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  scrollbar-color: rgba(108, 122, 137, 0.45);
  scrollbar-width: 0.25rem;
}

/* !colour scheme : */
/* main : #a6e2ec */
/* secondary: #eea9c6 */
/* complimentary: #a4c784 */

html {
  scrollbar-color: rgba(108, 122, 137, 0.45);
  scrollbar-width: 0.25rem;
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
background: rgba(108, 122, 137, 0.45);
}

::-webkit-scrollbar-thumb {
background: rgba(46, 49, 49, 0.8);
}

.alert-container {
position: relative;
width: 90%;
z-index: 999;
}

.alert {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 999;
}

.close {
background: transparent;
border: none;
position: absolute;
top: 0;
right: 0;
margin-right: 25px;
font-size: 35px;
}

body {
  color: black;
  /* background-color: rgba(166,226,236,255); */
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas:
      "side_nav main right_padding";
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 94fr 3fr;
  scrollbar-color: rgba(108, 122, 137, 0.45);
  scrollbar-width: 0.25rem;
  overflow-x: hidden;
}

/* main {
  grid-area: main;
  display: grid;
  grid-template-areas:
      "title_bar title_bar title_bar title_bar"
      "a b c d"
      "e f g h"
      "i j k l"
      "m n o p";
  grid-template-rows: 4fr 24fr 24fr 24fr 24fr;
  grid-template-columns: 25fr 25fr 25fr 25fr;
} */

/* for templating using cssgrid */

#title_bar {
  grid-area: title_bar;
  /* border: 1px solid black; */
  text-align: center;
}

#a {
  grid-area: a;
  border: 1px solid red;
  text-align: center;
}

#b {
  grid-area: b;
  border: 1px solid orange;
  text-align: center;
}

#c {
  grid-area: c;
  border: 1px solid yellow;
  text-align: center;
}

#d {
  grid-area: d;
  border: 1px solid green;
  text-align: center;
}

#e {
  grid-area: e;
  border: 1px solid blue;
  text-align: center;
}

#f {
  grid-area: f;
  border: 1px solid indigo;
  text-align: center;
}

#g {
  grid-area: g;
  border: 1px solid violet;
  text-align: center;
}

#h {
  grid-area: h;
  border: 1px solid magenta;
  text-align: center;
}

#i {
  grid-area: i;
  border: 1px solid palevioletred;
  text-align: center;
}

#j {
  grid-area: j;
  border: 1px solid red;
  text-align: center;
}

#k {
  grid-area: k;
  border: 1px solid orange;
  text-align: center;
}

#l {
  grid-area: l;
  border: 1px solid yellow;
  text-align: center;
}

#m {
  grid-area: m;
  border: 1px solid green;
  text-align: center;
}

#n {
  grid-area: n;
  border: 1px solid blue;
  text-align: center;
}

#o {
  grid-area: o;
  border: 1px solid indigo;
  text-align: center;
}

#p {
  grid-area: p;
  border: 1px solid violet;
  text-align: center;
}

/* nav bar DO NOT TOUCH */
.navbar {
  grid-area: sidenav;
  width: 4rem;
  height: 100vh;
  position: fixed;
  background-color: rgba(255,255,255,0);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-items: flex-start;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  height: 3rem;
  color: #eea9c6;
  text-decoration: none;
  /* font-size: 20px; */
  filter: grayscale(100%) opacity(1);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: -1rem;
  /* text-shadow: 2px 2px black; */
  color: #eea9c6;
}


.navbar:hover {
  width: 17vw;
}

.navbar:hover .link-text {
  font-size: 1.2rem;
  display:block;
}

#nav_title {
  font-size: 1.4rem;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  /* margin-bottom: 1.5rem; */
  text-align: center;
  color: #eea9c6;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  /* padding-left: 0.4vw; */
}

.sidebar .logo .name {
  display: table-column;
  opacity: 0;
  font-size: 22px;
}

.sidebar.open .logo .name {
  position: absolute;
  display: block;
  opacity: 1;
  height: 90px;
  width: 150px;
  word-break: break-word;
  margin: 5px 0px 0px 10px;
  transition: all 0.5s ease;
  font-size: 22px;
}
.sidebar .imgbtn img {
  transform: rotate(-360deg);
  height: 70px;
  width: 65px;
  background-color: white;
  border-radius: 12px;
  float: right;
  /* animation: bounce; */
}

.nav-link i {
  min-width: 3rem;
  font-size: 1rem;
  margin: 1.8rem;
}

.sidebar.open .imgbtn img {
    /* font-size: 1.5rem; */
    transform: rotate(0deg);
    transition: transform 450ms;
    /* margin: 0.79vw; */
    height: 70px;
    width: 65px;
    background-color: white;
    border-radius: 12px;
    float: right;
}

.navbar:hover .logo i {
  /* transform: rotate(-360deg); */
  animation: bounce;
}

.about {
  color: #f5e466;
}

.about:hover {
  color: #f5e466;
  filter: grayscale(0%) opacity(1);
  animation: bounce;
}

.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
