{% extends "sidebar_login.html" %}

{% block bonus_css %}
<link rel = "stylesheet" href = "{{url_for('static', filename = 'styles/top_picks.css')}}">
{% endblock %}

{% block title %}
Recommendations
{% endblock %}

{% block main_content %}
<div class="page-container">
    <div class="page-header">
        <div class="name">Top Picks </div>
        <!-- <div class =btn-container>
            <a href="/compare">
              <button id="btn" type='button' class="btn">
                Compare
              </button>
            </a> 
        </div> -->
    </div>
    <div class="line"></div>
    <div class="output">
        <div class="imgbox">
          <img src= "../static/Assets/john-t-4_ZMMBcz4fU-unsplash.jpg" alt="HDB" >
        </div>
        <div class="contentleft">
            <p>BLOCK</p>
            <p>ADDRESS</p>
            <p>RESALE PRICE</p>
            <p>FLAT TYPE</p>
            <p>FLOOR AREA (SQM)</p>
            <p>AMENITIES</p>
            <p> </p>
        </div>
        <div class="v1"></div>
        <div class="contentright">
            <p>123</p>
            <p>ANG MO KIO AVE 13</p>
            <p>$99,999,999</p>
            <p>4-ROOM</p>
            <p>64</p>
            <p>School(1km), Coffee Shop(800m), MRT(2km)</p>
            <div class="links">
                <a href="#">View Map</a>
                <a href="#">Contact</a>
                <a href="#">Add to Favorites</a>
            </div>
        </div>

      </div>
</div>
{% endblock %}