<!DOCTYPE html>
<html lang="en">

<head>

    <!-- boiler plate html -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">

    <!-- animate -->
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel = "stylesheet" href="{{ url_for('static',filename='styles/hover.css') }}">

    <!-- base css -->
    <link rel = "stylesheet" href = "{{ url_for('static',filename='styles/base.css') }}">

    <!-- bonus css -->
    {% block bonus_css %}
    {% endblock %}

    <!-- title -->
    <title>
        {% block title %}
        Base template
        {% endblock %}
    </title>
</head>

<body>


    <!-- navbar DO NOT TOUCH -->
    <nav class = "navbar no_select" id = "navbar">
        <ul class = "navbar-nav no_select">
            <li class = "logo">
                <a href = "#" class = "nav-link">
                    <!-- <i class="fab fa-connectdevelop"></i> -->
                    <img src = "{{ url_for('static',filename='styles/logo/hdb_logo.svg') }}"/>
                    <span class = "link-text logo-text" id = "nav_title">
                        Place
                        holders
                    </span>
                </a>
            </li>



            <li class = "nav-item no_select">
                <a href = "/" class = "nav-link">
                    <i class="fas fa-home"></i>

                    <span class = "link-text">
                        Home
                    </span>
                </a>
            </li>

            <li class="nav-item no_select">
                <a href="/account" class="nav-link">
                    <i class="fas fa-user"></i>
                    <span class="link-text">
                        Account
                    </span>
                </a>
            </li>

            <li class="nav-item no_select">
                <a href="/logout" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-text">
                        Logout
                    </span>
                </a>
            </li>



            <li class = "nav-item no_select">
                <a href = "/" class = "nav-link">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class = "link-text">
                        Login
                    </span>
                </a>
            </li>

            <li class = "nav-item no_select">
                <a href = "/signup" class = "nav-link">
                    <i class="fas fa-user-plus"></i>
                    <span class = "link-text">
                        Sign Up
                    </span>
                </a>
            </li>


            <li class = "nav-item no_select">
                <a href="/about" class = "nav-link about" id = "about">
                    <i class="fa-solid fa-building"></i>
                    <span class = "link-text">
                        About
                    </span>
                </a>
            </li>
        </ul>
    </nav>


    <!-- boiler template -->

    <main>

        {% block main_content %}
        <div id = 'title_bar'>
            Here is the title bar
        </div>

        <div id = 'a'>
            This is a
        </div>

        <div id = 'b'>
            This is b
        </div>

        <div id = 'c'>
            This is c
        </div>

        <div id = 'd'>
            This is d
        </div>

        <div id = 'e'>
            This is e
        </div>

        <div id = 'f'>
            This is f
        </div>

        <div id = 'g'>
            This is g
        </div>

        <div id = 'h'>
            This is h
        </div>

        <div id = 'i'>
            This is i
        </div>

        <div id = 'j'>
            This is j
        </div>

        <div id = 'k'>
            This is k
        </div>

        <div id = 'l'>
            This is l
        </div>

        <div id = 'm'>
            This is m
        </div>

        <div id = 'n'>
            This is n
        </div>

        <div id = 'o'>
            This is o
        </div>

        <div id = 'p'>
            This is p
        </div>

        {% endblock %}
    </main>
</body>
<script src="https://kit.fontawesome.com/a2fab740ba.js" crossorigin="anonymous"></script>

</html>
