{% extends "sidebar.html" %}
<!-- For Viewing pls change the html to : sidebar.html -->

{% block bonus_css %}
<link rel = "stylesheet" href = "{{url_for('static', filename = 'styles/map.css')}}">
{% endblock %}

{% block title %}
Favourites
{% endblock %}

{% block main_content %}
<script>
    function openForm() {
      var checks=document.getElementsByClassName("checks");
      localStorage.setItem("textvalue",checks);
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
<div id = "main_div">
    
    <div class="page-container">
        <div class="page-header">
            <div class="name">{{user.favourites|length}} Results Found </div>
            <div class =btn-container>
                  <button id="btn" type='button' class="open-button"onclick="openForm()">
                    Compare
                  </button> 
            </div>
            <div class="form-popup" id="myForm">
                <form action="/action_page.php" class="form-container">
                    <table>
                        <tr>
                          <th>BLOCK</th>
                          <th>ADDRESS</th>
                          <th>RESALE PRICE</th>
                          <th>FLAT TYPE</th>
                          <th>FLOOR AREA (SQM)</th>
                          <!-- <th>AMENITIES</th> -->
                        </tr>
                        {% for to_display in user.favourites %}
                        <tr>
                          <td>{{to_display.block}}</td>
                          <td>{{to_display.street_name}}</td>
                          <td>${{to_display.resale_price}}</td>
                          <td>{{to_display.flat_type}}</td>
                          <td>{{to_display.floor_area_sqm}} sqm</td>
                          <!-- <td>School(1km), Coffee Shop(800m), MRT(2km)</td> -->
                        </tr>
                        {% endfor %}
                      </table>
                      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
              </div>
        </div>
        <div class="line"></div>
        <form action="compare.html">
            {% for to_display in user.favourites %}
            <div class="output"> 
                <div class="imgbox">
                <img src= "{{url_for('static', filename = to_display.image_path)}}" alt="HDB" >
                </div>
                <p><p>
                <div class="contentleft">
                    <p>BLOCK</p>
                    <p>ADDRESS</p>
                    <p>RESALE PRICE</p>
                    <p>FLAT TYPE</p>
                    <p>FLOOR AREA (SQM)</p>
                    <!-- <p>AMENITIES</p> -->
                    <p> </p>
                </div>
                <div class="v1"></div>
                <div class="contentright">
                    <p>{{to_display.block}}</p>
                    <p>{{to_display.street_name}}</p>
                    <p>${{to_display.resale_price}}</p>
                    <p>{{to_display.flat_type}}</p>
                    <p>{{to_display.floor_area_sqm}} sqm</p>
                    <!-- <p>School(1km), Coffee Shop(800m), MRT(2km)</p> -->
                    <div class="links">
                        <a href="/buildings/{{to_display.block}}">View Map</a>
                        <a href="#">Contact</a>
                        <a href="#" onclick="remove_favourites({{to_display.id}})">Remove from Favourites</a>
                        <!-- todo remove favourites function -->
                    </div>
                </div>

            </div>
        {% endfor %}
        </form>
    </div>
</div>
{% endblock %}
