<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/landing.css') }}">

        <title>Find My HDB</title>
    </head>
    <body>
        <main>
            <div class="alert-container">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
            </div>
            <div class="landing-img"></div>
            <div class="landing">
                <div class="logo">
                    <img src="{{url_for('static',filename='assets/app_logo-removebg.png')}}" alt="logo" class="logo-img">
                </div>
                <div class="btn-container">
                    <button id="login-btn" type='button' class="btn btn-dark btn-round">Login</button>
                    <a href="/signup"><button id="register-btn" type='button' class="btn btn-dark btn-round">Register</button></a>
                    <a href="/guest_creation">
                        <button id="guest-btn" type='button' class="btn btn-secondary btn-round">
                            Continue as Guest
                            <div class="icon">
                                <div class="icon baseline"><img src="{{url_for('static',filename='assets/arrow_east_black_24dp.svg')}}"
                                        alt="right arrow"></div>
                            </div>
                        </button>
                    </a>
                </div>
                <div class="sign-in-container">
                    <button type="button" class="btn-cross">
                        <img src="{{url_for('static',filename='assets/close_white_24dp.svg')}}" alt="x" class="sign-in-close">
                    </button>
                    <h1 class="sign-in-text">Welcome Back</h1>
                    <form class="flex-vertical" method="POST">
                        <input type="email" id="email" name="email">
                        <input type="password" id="password" name="password">
                        <a href="/forgot_password" class="forgot-pw">Forgot Password?</a>
                        <button type="submit" class="btn btn-light btn-round">Login</button>
                    </form>
                </div>
            </div>
        </main>
        <script src="{{url_for('static', filename='scripts/landing.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>