{% extends "base.html" %}

{% block main_content %}
<form>
  <div style = "position:relative; left:200px; top:2px;">

  <div class="form-group">
    <label for="typeOfHouse">What type of house are you looking for?</label>
    <select class="form-control" id="typeOfHouse">
      <option>2 Room</option>
      <option>3 Room</option>
      <option>4 Room</option>
      <option>5 Room</option>
      <option>3-generation</option>
      <option>Executive</option>
    </select>
  </div>
  <div class="form-group">
    <label for="budget">What is your budget?</label>
    <select class="form-control" id="budget">
      <option>$0 < x < $20</option>
      <option>$10 < x < $20</option>
      <option>$20 < x < $20</option>
      <option>$30 < x < $20</option>
      <option>$40 < x < $20</option>
    </select>
  </div>  <div class="form-group">
    <label for="monthlyIncome">What is your monthly income?</label>
    <select class="form-control" id="monthlyIncome">
      <option>3 Room</option>
      <option>4 Room</option>
      <option>5 Room</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>  <div class="form-group">
    <label for="maritalStatus">What is your marital status</label>
    <select class="form-control" id="maritalStatus">
      <option>Married</option>
      <option>Single</option>
      <option>Widowed??:(</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>  <div class="form-group">
    <label for="cpfSavings"></label>
    <select class="form-control" id="cpfSavings">
      <option>$0 < x < $20</option>
      <option>$10 < x < $20</option>
      <option>$20 < x < $20</option>
      <option>$30 < x < $20</option>
      <option>$40 < x < $20</option>
    </select>
  </div>  <div class="form-group">
    <label for="ownCar">Do you own a car?</label>
    <select class="form-control" id="ownCar">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>  <div class="form-group">
    <label for="amenities">Must-have amenities?</label>
    <select class="form-control" id="amenities">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>  <div class="form-group">
    <label for="locations">Preferred Locations?</label>
    <select class="form-control" id="locations">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  </div>
</form>
{% endblock%}