{% extends "base.html" %}

{% block main_content %}
<form>
<div style = "position:relative; left:200px; top:2px;">

  <div class="form-group">
    <label for="typeOfHouse">What type of house are you looking for?</label>
    <select class="form-control" id="typeOfHouse">
      <option>1 Room</option>
      <option>2 Room</option>
      <option>3 Room</option>
      <option>4 Room</option>
      <option>5 Room</option>
      <option>3-generation</option>
      <option>Executive</option>
    </select>
  </div>
  <div class="form-group">
    <label for="budget">What is your budget?</label>
    <select class="form-control" id="budget">
      <option>below $300,000</option>
      <option>$300,000 to $400,000</option>
      <option>$400,000 to $500,000</option>
      <option>$500,000 to $600,000</option>
      <option>$600,000 to $700,000</option>
      <option>$700,000 to $800,000</option>
      <option>$800,000 to $1,000,000</option>
      <option>above $1,000,000</option>
    </select>
  </div>  <div class="form-group">
    <label for="monthlyIncome">What is your monthly income?(including employer CPF contributions)</label>
    <select class="form-control" id="monthlyIncome">
      <option>below $1,000 </option>
      <option>$1,000 to $2,000</option>
      <option>$2,000 to $3,000</option>
      <option>$3,000 to $4,000</option>
      <option>$4,000 to $5,000</option>
      <option>$5,000 to $6,000</option>
      <option>$6,000 to $7,000</option>
      <option>$7,000 to $8,000</option>
      <option>$8,000 to $10,000</option>
      <option>above $10,000</option>
    </select>
  </div>  <div class="form-group">
    <label for="maritalStatus">What is your marital status</label>
    <select class="form-control" id="maritalStatus">
      <option>Married</option>
      <option>Single</option>
    </select>
  </div>  <div class="form-group">
    <label for="cpfSavings"></label>
    <select class="form-control" id="cpfSavings">
      <option>below $20,000 </option>
      <option>$20,000 to $40,000</option>
      <option>$40,000 to $60,000</option>
      <option>$60,000 to $80,000</option>
      <option>$80,000 to $100,000</option>
      <option>$100,000 to $120,000</option>
      <option>$120,000 to $140,000</option>
      <option>$140,000 to $160,000</option>
      <option>$160,000 to $200,000</option>
      <option>above $200,000</option>
    </select>
  </div>  <div class="form-group">
    <label for="ownCar">Do you own a car?</label>
    <select class="form-control" id="ownCar">
      <option>Yes</option>
      <option>No</option>
    </select>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  </div>  <div class="form-group">
    <label for="amenities">Must-have amenities?</label>
    <select class="selectpicker" multiple data-live-search="true">
      <option>Supermarket</option>
      <option>Foodcourt</option>
      <option>Gym</option>
    </select>
  </div>  <div class="form-group">
    <label for="locations">Preferred Locations?</label>
    <select class="selectpicker" multiple data-live-search="true">
      <option>Sembawang</option>
      <option>Woodlands</option>
      <option>Yishun</option>
    </select>
      <!-- Sembawang
Woodlands
Yishun
North-East
Ang Mo Kio
Hougang
Punggol
Sengkang
Serangoon

Bedok
Pasir Ris
Tampines

Bukit Batok
Bukit Panjang
Choa Chu Kang
Clementi
Jurong East
Jurong West
Tengah

Bishan
Bukit Merah
Bukit Timah
Central Area
Geylang
Kallang/ Whampoa
Marine Parade
Queenstown
Toa Payoh -->
  </div>
  <button type="submit" class="btn btn-primary">Update Preferences</button>

</div>
</form>
{% endblock%}