{% extends "sidebar.html" %}
<!-- For Viewing pls change the html to : sidebar.html -->

{% block bonus_css %}
<link rel = "stylesheet" href = "{{url_for('static', filename = 'styles/map.css')}}">
<script src="{{url_for('static', filename='scripts/loading.js')}}"></script>
{% endblock %}

{% block title %}
Recommendations
{% endblock %}

{% block main_content %}

<div id = "main_div">

    <ul id = "list" class = "map" onload = "scrollTop = 0">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.720293809179!2d103.67788015026969!3d1.3442419619632229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da0f750415f4a3%3A0x5d08d1fae5a05362!2sComputational%20Intelligence%20Lab%20(CIL)!5e0!3m2!1sen!2ssg!4v1634663514829!5m2!1sen!2ssg" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
        </iframe>
        <br>
    </ul>

    <div class="page-container">
        <div class="page-header">
            <div class="name">{{results}} Results Found </div>

            <div class = "btn-container">
                <a href="/calc">
                    <button type = "button" class = "btn btns">
                        Recalculate Recommendations
                    </button>
                </a>

                <a href="/account/favourites">
                    <button type='button' class="btn btns">
                      Favorites
                    </button>
                  </a> 
            </div>
        </div>
        <div class="line"></div>
        {% for to_display in recommendations %}
        <div class="output">
            <div class="imgbox">
            <img src= "{{url_for('static', filename = to_display.image_path)}}" alt="HDB" >
            </div>
            <div class="contentleft">
                <p>BLOCK</p>
                <p>ADDRESS</p>
                <p>RESALE PRICE</p>
                <p>FLAT TYPE</p>
                <p>FLOOR AREA (SQM)</p>
                <p>AMENITIES</p>
                <p> </p>
            </div>
            <div class="v1"></div>
            <div class="contentright">
                <p>{{to_display.block}}</p>
                <p>{{to_display.street_name}}</p>
                <p>${{to_display.resale_price}}</p>
                <p>{{to_display.flat_type}}</p>
                <p>{{to_display.floor_area_sqm}} sqm</p>
                <p>{{to_display.num_amenities}} {{to_display.amenities_type}}(s) in the vicinity within {{distance}} km</p>
                <div class="links">
                    <a href="/buildings/{{to_display.block}}/{{to_display.id}}">View Map</a>
                    <a href="mailto:{{to_display.contact}}">Contact</a>
                    {% if not user.is_guest %}
                        <a href="#" onclick="add_favourites({{to_display.id}})">Add to Favorites</a>
                    {% endif %}
                </div>
            </div>

        </div>
      {% endfor %}
    
    </div>
</div>
{% endblock %}
