<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- boiler plate html -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">

    <!-- animate -->
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel = "stylesheet" href="{{ url_for('static',filename='styles/hover.css') }}">

    <!-- side css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sidebar.css') }}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- bonus css -->
    {% block bonus_css %}
    {% endblock %}

    <!-- title -->
    <title>
        {% block title %}
        sidebar template
        {% endblock %}
    </title>

   </head>




<body>
    <!-- NAV BAR -->
  <div class="sidebar">
    <div class="logo-top">
        <!-- <i class='bx bx-log-out' id="log_out" ></i> -->
        <!-- <i class='bx bx-menu' id="btn" ></i> -->


        <div class="logo">
                <span class="name">
                    Place
                    Holders
                </span>
            <div class="imgbtn" id="btn">
                <img src = "{{ url_for('static',filename='styles/logo/hdb_logo.svg') }}"/>
            </div>

        </div>
    </div>
    <div class="logo-details">
        <div class="profile">
            <div class="profile-details">
                <img src= "{{url_for('static', filename = user.photo)}}" alt="HDB" height="152px" width="180px">
                <div class="name">
                    {% block username %}
                    Hello, {{user.firstName}} {{user.lastName}}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <ul class="nav-list">
        <li>
            <a href="#">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="/account/settings">
            <i class='bx bx-user' ></i>
            <span class="links_name">Account</span>
            </a>
            <span class="tooltip">Account</span>
        </li>
        <li>
        <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favorites</span>
        </a>
        <span class="tooltip">Favorites</span>
        </li>
        <li>
            <a href="#">
            <i class='bx bx-cart-alt' ></i>
            <span class="links_name">Sell My House</span>
            </a>
            <span class="tooltip">Sell My House</span>
        </li>
        <li>
        <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Setting</span>
        </li>



        <!-- ADDITIONAL IF NEEDED -->
<!--
        <li>
            <a href="#">
            <i class='bx bx-log-in' ></i>
            <span class="links_name">Login</span>
            </a>
            <span class="tooltip">Login</span>
        </li>
        <li>
            <a href="#">
            <i class='bx bx-user-plus' ></i>
            <span class="links_name">Sign Up</span>
            </a>
            <span class="tooltip">Sign Up</span>
        </li>
   -->

        <!-- <li>
            <a href="#">
            <i class='bx bx-cart-alt' ></i>
            <span class="links_name">EXTRA</span>
            </a>
            <span class="tooltip">EXTRA</span>
        </li> -->

        <!-- ENDS HERE -->

        <li>
            <div class="logout">
                <a href="/logout">
                <i class='bx bx-log-out' id="log_out" ></i>
                <span class="links_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </div>
        </li>

    </ul>
  </div>
  <section class="home-section">
      <!-- Input content here -->
      <main>
        <div class="alert-container">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %} {% if category ==
            'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}
        </div>

        {% block main_content %}

        {% endblock %}
    </main>
  </section>


  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a2fab740ba.js" crossorigin="anonymous"></script>

</body>
</html>
