{% extends "logged_in_template.html" %}

{% block bonus_css %}
<link rel = "stylesheet" href = "{{url_for('static', filename = 'styles/top_picks.css')}}">
{% endblock %}

{% block main_content %}

<div class="alert-container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>

<div id = "title_bar">
Top Recommendations
</div>

<div id = "main_div">
    <ul id = "list" class = "rounded-top rounded-end list-group list-group-flush no_select justify-content-between align-items-stretch" style = "height: 100%; width: 100%;" onload = "scrollTop = 0">
        {% for to_display in user.recommended %}
            <li class = "list-group-item d-flex justify-content-between" style = "text-shadow: 1px 1px white; background-color: rgba(255,255,255,0);">
                <div id = "hdb_image" class = "align-self-stretch overflow-hidden">
                    <img src = "{{to_display.image_path}}"/>
                </div>

                <ul class = "rounded-top rounded-end list-group list-group-flush no_select flex-grow-1 align-self-stretch align-items-stretch">

                    <li id = "block" class="rounded-top rounded-end list-group-item list-group-item-warning flex-fill text-success">
                        Block: {{to_display.block}}
                    </li>

                    <li id = "address" class="rounded-top rounded-end list-group-item list-group-item-warning flex-fill text-success">
                        Address: {{to_display.street_name}}
                    </li>

                    <li id = "resale_price" class="rounded-top rounded-end list-group-item list-group-item-warning flex-fill text-success">
                        Resale Price: ${{to_display.resale_price}}
                    </li>

                    <li id = "floor_area" class="rounded-top rounded-end list-group-item list-group-item-warning flex-fill text-success">
                        Floor Area: {{to_display.floor_area_sqm}} square metres
                    </li>

                    <li id = "amenities"  class="rounded-top rounded-end list-group-item list-group-item-warning flex-fill text-success">
                        Amenities: kopitiam to lim kopi
                    </li>

                    <li id = "links" class="rounded-top rounded-end list-group-item list-group-item-dark flex-fill text-success">
                        <a href = ""> 
                            <!-- todo make a dynamic html generated from the website. we just pass in to_display or something -->
                            View Map
                        </a>

                        <a href = "">
                            Contact
                        </a>

                        <a href = "">
                            Add to Favourites
                        </a>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}